UNTOUCHABLE_ADVISORS = [semicolon separated values -- no apostrophes]
filtered_file = single file
unfiltered_file = single file
import_csvs = [comma-separated files]
exemptions = single file
advisor_list = single file